* text=auto eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.bmp binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary

# Archives / compressed
*.zip binary
*.gz binary
*.tar binary
*.tgz binary
*.7z binary
*.rar binary

# Certificates / keystores
*.p12 binary
*.jks binary
